# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Connection
MONGODB_URI=mongodb://127.0.0.1:27017/job_recommendation_db

# JWT Secret
JWT_SECRET=super_secret_jwt_key_for_academic_project_2026

# AI Service API URL
AI_SERVICE_URL=http://127.0.0.1:8000

# Frontend URL for CORS
FRONTEND_URL=http://localhost:5173
